*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image: url(images/background.jpg);
    background-position: fill;
    
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
header{
    height: 65px;
    background:green;
    width: 100%;
    z-index: 5;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    color: #fff;
    letter-spacing: 5px;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff
}
.center{
    position: absolute;
    margin: 60px;
    top: 50%;
   left: 7%;
    transform: translate( -50%, -50%);
    font-family: sans-serif;
    color:blanchedalmond;
    font-size: 10px;
    user-select: none;
}
.mok{
    position: absolute;
    color: blanchedalmond;
    font-size: 9px;
    left: 5%;
    margin: 110px;
    }
body{
    
}
.card{
    width: 260px;
    height: 190px;
    display: inline-flex;
    border-radius: 5px;
    border-style: inherit;
    padding: 15px 35px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 40px 75px; 
    background-position: center;
    background-size: cover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card1{
    margin-left: -7rem;
    color:black;
    font-size: 30px;
    background-image: url(images/card1.jpg);
}
.card2{
    color: black;
    font-size: 30px;
    background-image: url(images/card2.jpg);
}

.card3{
    font-size: 30px;
    color:black;
    background-image: url(images/card3.jpg);
}
.card4{
    font-size: 30px;
    color: black;
    background-image: url(images/card4.jpg);
}
.card card1 h5{
padding-top:10px;
text-align:center;
color:black;
}
